.App {
  text-align: center;
}

.App-header {
  padding: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: default;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

.submit-button {
  background-color: green;
  color: white;
}

.submit-button:hover {
  background-color: white;
  color: green;
  transform: scale(1.2);
}

.update-button {
  background-color: lightskyblue;
  color: white;
}

.update-button:hover {
  background-color: white;
  color: lightskyblue;
  transform: scale(1.2);
}

.delete-button {
  background-color: crimson;
  color: white;
}

.delete-button:hover {
  background-color: white;
  color: crimson;
  transform: scale(1.2);
}

.search-button {
  background-color: pink;
  color: black;
}

.search-button:hover {
  background-color: black;
  color: pink;
  transform: scale(1.2);
}

.form-container {
  background-color: #00000082;
  min-width: 850px;
  min-height: 150px;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.formTable td {
  text-align: left;
  font-weight: bold;
}

input,
select {
  padding: 10px 15px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

select {
  width: 115%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover,
select:hover {
  border: none;
  transform: scale(1.1);
}

.dataTable {
  border-collapse: collapse;
  font-size: 0.8em;
  min-width: 400px;
  overflow: hidden;
  table-layout: fixed;
}

.dataTable td {
  padding: 10px 2px;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  vertical-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.494);
  border-top: 1px solid rgba(0, 0, 0, 0.494);
}

.dataTable th {
  text-align: center;
  padding: 10px;
}

.dataTable button {
  width: 100px;
}
